---
import Layout from '~/layouts/main.astro';

// Component Imports
import Link from '~/components/Link.astro';

import { getEntries } from '~/content/utils/samples';

import { title, samplePageTitle } from '~/settings';

//----------------------------------------------------------------------------//

interface ILink {
  label: string;
  href: string;
}

const samples = await getEntries();

const links = samples.map(({ data }) => {
  const { title: label, slug } = data;

  return {
    label,
    href: `/content/${slug}`
  } as ILink;
});
---

<Layout
  content={{
    title
  }}
>
  <div class="flex min-h-screen flex-col items-center gap-4 p-10">
    <h1 class="text-3xl">{title}</h1>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex gap-2">
      <Link href="/">Go home</Link>

      <span>/</span>

      <span class="font-semibold">{samplePageTitle}</span>
    </div>

    <div class="w-full border-b border-gray-300"></div>

    <ul class="list-disc">
      {
        links.map(({ href, label }) => (
          <li>
            <Link {href}>{label}</Link>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
